<div class="subnav" id="mysubnav">
  <a href="/tag/the-how-series" target="_self" title="How To Programming">
    Programming
  </a>
  <a href="/tag/personal-finance" target="_self" title="Passive Income">
    Passive Income
  </a>
  <a href="/resources" target="_self" title="Resources">
    Resources
  </a>
  <!-- <a
    href="https://mx84n.weblium.site/"
    title="Make $200K"
    target="_blank"
    class="ng-button button-box last"
  >
    Make $200K
  </a> -->
  <a
    href="https://gumroad.com/l/html2react/blog"
    title="Our Courses"
    target="_blank"
    class="ng-button button-box last"
  >
    Courses
  </a>
  <a href="javascript:void(0);" class="icon-container" onclick="toggleMenu()">
    <span class="icon icon-android-menu"></span>
  </a>
</div>

<script>
  function toggleMenu() {
    var x = document.getElementById("mysubnav");
    if (x.className === "subnav") {
      x.className += " responsive";
    } else {
      x.className = "subnav";
    }
  }
</script>
