<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main role="main">
      <div class="grid grid-centered">
        <div class="grid-cell">
          <div>
            {% include navigation.html %}
          </div>
          <div>
            {% include secondaryNavigation.html %}
          </div>

          <!-- Html Elements for Search -->
          <div id="search-container" class="search-container">
            <input
              type="text"
              class="search-input"
              id="search-input"
              placeholder="Search Posts..."
            />
            <ul id="results-container" class="results-container"></ul>
          </div>

          {{ content }} {% include footer.html %}
        </div>
      </div>
    </main>
    {% include javascripts.html %}
  </body>
</html>
